<!-- Footer -->
<footer>
    <div class="footer-content">

        <p>Erin's Pet Sitting Services<br>Gravesend, Kent</p>

        <div class="social-links">
            <a href="https://www.facebook.com/people/Erins-Pet-Sitting-Services/61560319745772" aria-label="Facebook"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/ErinsPetSittingServicesKent" aria-label="Instagram"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://m.me/61560319745772" aria-label="Messenger"><i class="fab fa-facebook-messenger"></i></a>
        </div>


        <p style="font-size: 12px; color: #3d3d3dab;">&copy; 2025 Erin's Pet Sitting. All rights reserved.<br>
            <a href="https://erinspetsittingservices.co.uk/downloads/PrivacyPolicy.pdf"
                style="font-size: 12px; color: #3d3d3dab; text-decoration: none;">Privacy Policy</a>
        </p>
    </div>
    <script src="/script.js"></script>
</footer>