<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F5PCEV5Y33"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-F5PCEV5Y33');
</script>

<link rel="icon" type="image/x-icon" href="/erins-pet-sitting-services.jpg">

<link rel="stylesheet" href="/styles.css?020325">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">

<script type="text/javascript" data-cmp-ab="1"
    src="https://cdn.consentmanager.net/delivery/autoblocking/e50b18724247e.js"
    data-cmp-host="a.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script>

<meta name="robots" content="index, follow">
<meta name="description"
    content="Looking for a reliable pet sitter in Northfleet & Gravesend? Erin's Pet Sitting offers trusted care for your pets while you're away. Book today!">
<meta name="keywords"
    content="dog sitting, pet care, dog walking, gravesend, dartford, meopham, kent, erin-b-insured-dbs-checked-professional-sitter, erin's pet sitting services, erin's pet sitting">
<meta name="geo.region" content="GB-KEN">
<meta name="geo.placename" content="Gravesend">

<div itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="Erin's Pet Sitting Services">
    <link itemprop="url" href="https://erinspetsittingservices.co.uk/">
    <link itemprop="logo" href="https://erinspetsittingservices.co.uk/erins-pet-sitting-services.jpg">
</div>

<!-- Schema Markup -->
<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Erin's Pet Sitting Services",
    "image": "erins-pet-sitting-services.jpg",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "70 Pelham Road South",
        "addressLocality": "Gravesend",
        "addressRegion": "Kent",
        "postalCode": "DA11 8QT",
        "addressCountry": "GB"
    },
    "telephone": "07466 159400",
    "openingHours": "Mo-Fr 09:00-18:00",
    "priceRange": "$",
    "url": "https://erinspetsittingservices.co.uk/",
    "sameAs": [
        "https://maps.app.goo.gl/Wz9zJwV8n2hrURFH8",
        "https://www.facebook.com/people/Erins-Pet-Sitting-Services/61560319745772",
        "https://www.facebook.com/61560319745772",
        "https://www.facebook.com/p/61560319745772",
        "https://erinspetsittingservices.co.uk/",
        "https://www.rover.com/members/erin-b-insured-dbs-checked-professional-sitter"
    ]
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>