<!-- Header -->
<header>
    <div class="logo"><a href="/" style="display: flex; align-items: center;"><img src="/erins-pet-sitting-services.jpg"
                style="height: 70px; border-radius: 50%;" alt="Erin's Pet Sitting Services Logo"></a>
        <p style="font-family: 'Lora', sans-serif; font-size: 18px;">Erin's Pet Sitting Services</p>
    </div>

    <!-- Navigation -->
    <nav class="nav">
        <ul>
            <li><a href="/#services"><i class="fas fa-arrow-circle-right" style="margin-right: 5px;"></i>Our
                    Services</a>
            </li>
            <li><a href="/certificates-policies"><i class="fas fa-arrow-circle-right" style="margin-right: 5px;"></i>Certificates and Policies</a>
            </li>
            <li><a href="/join"><i class="fas fa-arrow-circle-right" style="margin-right: 5px;"></i>Join Now!</a>
            </li>
        </ul>
    </nav>

        <!-- Hamburger Menu for Mobile -->
    <button class="hamburger" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>