<div id="map" style="z-index: -1; width: 100%; height: 30vh; min-height: 220px; border-radius: 10px; box-shadow: 0 0 0 black; max-width: 600px; margin-left: auto; margin-right: auto;"></div>
<script>
    const map = L.map('map').setView([51.44, 0.37], 10); // Gravesend coordinates

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // Add areas with hover effects
    const areas = {
        type: 'FeatureCollection',
        features: [
            {
                type: 'Feature',
                properties: { name: 'Areas Covered' },
                geometry: {
                    "type": "Polygon",
                    "coordinates": [
                        [[0.4787085944, 51.3802748124], [0.2201375056, 51.3915386474], [0.1926716801, 51.4305733633], [0.2191565715, 51.4789838985], [0.2905677043, 51.4540515507], [0.4324090568, 51.4458600195], [0.4620329028, 51.4549072981], [0.501269786, 51.3948438336], [0.4787085944, 51.3802748124]]
                    ]
                }
            }
        ]
    };

    L.geoJSON(areas, {
        style: { color: '#72866b', fillOpacity: 0.5 },
        onEachFeature: (feature, layer) => {
            layer.bindPopup(feature.properties.name); // Show area name on hover
        }
    }).addTo(map);
</script>